/* On small screens: subnav takes over */
@media (max-width: 768px) {
  body {
    display: block;
    /* background-color: #daa520; */
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
  }
  .home-page-header {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    /* background-color: #2a2a2a; */
    
  }
  .actions {
    display: flex;
    width: 100%;
    margin: 20px auto;
  }
  .actions button {
    flex: 1 1 33.333%;
    background-color: #f5f5dc36;
    font-weight: bold;
  }
  .socials {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .socials a {
      margin: 20px auto; 
      font-size: 22px;
  }

  .update-meta {
    margin: auto auto 0;
  } 
  .subnav {
    position: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("https://i.postimg.cc/PqMJr2bW/Visual-Lotto-Board-1.png");
  }

  .subnav::-webkit-scrollbar {
    width: 6px;
  }
  .subnav::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
  .counterpart.counterpart,
  .download-btn,
  .counterpart-icon,
  .counterpart p,
  .home-page-main {
    display: none;
  
  }
 
  .game-links-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    /* margin: 2rem 2% auto; */
    background-color: #0000008a;
    /* background-color: #ff0000; */
    
  }
  .game-link  {
    flex-direction: column;
    color: #2282c7;
    width: 10rem;
    margin: 0;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;  
    font-size: 24px;
  }
  .game-link:hover {
    background-color: #e0e0e0;
  }
  .game-icon {
    display: block;
    font-size: 2rem;
    line-height: 1;
  }

  .home-page-main {
    display: none;
  }
 
}

@media (max-width: 600px) {
        .play-store-badge {
            width: 140px;
        }
    }