table {
    width: 490px;
    height: 100%;
    margin: 25px 7px;
    border-collapse: collapse; 
    border-left: 2px solid rgba(0, 0, 0, 0.333);
}

caption {
    color: #fff;
    width: 100%;
    background-color: #2282c7;
    font-weight: bold;
    font-size: 20px;
}

th{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 5px;
}

td {
    border-top: 1px solid black;
    padding: 5px 0;
}

.serial-num {
    width: 25px;
    text-align: center;
    border: 1px solid black;
    font-size: 11px;
}
.days{
    position: relative;
    color: #000;
    width: 30px;
    border: 1px solid black;
    background-color: whitesmoke;
    font-size: 12px;

}

.xMas-tree {
    position: absolute;
    top: 8px;
    right: 5%;
    font-size: 20px;
    text-align: center;
}

.lbw {
    border-right: 1px solid red;
}

.fbm {
    border-left: 1px solid red;

}

.winning {
    color: blue;
    text-align: center;
    font-size: 20px;
}
.machine {
    color: red;
    text-align: center;
    font-size: 20px;
}


.end-of-the-year {
    color: #0303c6;
    text-align: center;
    font-weight: bold;
}


.happyNewYear {
    color: #fff;
    text-align: center;
    word-spacing: 10px;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    background-color: #000;
}
.symbol {
    margin: auto 5px;
    font-size: large;
}
.year-twoFour{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
} 

.correction {
    background-color:rgb(225, 241, 241);
}



                      /* Breakpoints */
     /*(400-430px device)*/  
     @media screen and (max-width: 430px) {
        body {
            width: 100%;
        }
        
        table {
            width: 400px;
            margin-block-start: 40px;
        }
        .serial-num {
            width: 20px;
            font-size: 8px;
        }
        .days {
            width: 10px;
            font-size: 10px;
        }
        .winning,
        .machine {
            font-size: 16.5px;
        } 
     }


     /*(360-393px device)*/  
     @media screen and (max-width: 393px) {
        body {
            width: 100%;
        }
        
        table {
            width: 350px;
            margin-block-start: 25px;
        }
        .year {
            font-weight: bold;
            font-size: 16px;
        }
        .serial-num {
            width: 15px;
        }
        .winning,
        .machine {
            font-size: 15px;
        } 
     }
     

    /*(320px device)*/ 
    @media screen and (max-width: 359px) {
        body {
            width: 100%;
        }

        table {
            width: 300px;
            margin-block-start: 20px;
        }
        .year {
            font-weight: bold;
            font-size: 16px;
        }
        .line,
        .serial-num {
            display: none;
        }
        .winning,
        .machine {
            font-size: 15px;
        }  
    }
  

